.message-wrapper {
    margin-bottom: 60px;
}

.col.us {
    text-align: end;
}

.message {
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    display: inline-block;
}

.message.us {
    background-color: rgb(0,159,193);
}

.message.them {
    background-color: rgb(243,122,9);
}

.author {
    font-size: 10px;
    color: #888;
    margin-bottom: 5px;
}

.composer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
}

.composer-wrapper input {
    border: 0;
    width: 90%;
    padding: 12px;
}

.composer-wrapper button {
    border: 0;
    width: 9%;
    padding: 12px;
    color: #888;
}
