<div class="container" *ngIf="!loadPlaces">

        <h3 class="text-center">Start a Tribe!</h3>


  <div class="form-group">
      <input type="text" placeholder="Tribe name?"[(ngModel)]="tribeName" >
      <br/>
      <h4 class="text-center">How long is your event?</h4>
      <br/>
      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">2 hours</button>
          <button type="button" class="btn btn-secondary">4 hours</button>
          <button type="button" class="btn btn-secondary">6 hours</button>
        </div>

    <p>Security :</p>
    <input type="text" placeholder="Enter Question...something your tribe might know" size="133" [(ngModel)]="tribeQuestion">
    <br/>
    <input type="text" placeholder="Enter Answer" size="133" [(ngModel)]="tribeAnswer"> <br/>
    <button (click)="showPlaces()" class="btn btn-info">Next Step</button>


  </div>
</div>

<div class="container" *ngIf="loadPlaces">
    <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  [src]="trustedUrl" allowfullscreen>
</iframe>

  <div class="row" *ngFor="let venue of venues">{{venue}}</div>
  <button (click)="createChannel()">Create Channel</button>

</div>
