<div class="container">

        <h3 class="text-center">Start a Tribe!</h3>

<form>

  <div class="form-group">
      <input type="text" placeholder="Tribe name?">
      <br/>
      <h4 class="text-center">How long is your event?</h4>
      <br/>
      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">2 hours</button>
          <button type="button" class="btn btn-secondary">4 hours</button>
          <button type="button" class="btn btn-secondary">6 hours</button>
        </div>
        <h4 class="text-center">Where is your event?</h4>
        <br/>
        <p class="font-weight-light text-center">Light weight text.</p>
    <p>Security :</p>
    <input type="text" placeholder="Enter Question...something your tribe might know" size="133">
    <br/>
    <input type="text" placeholder="Enter Answer" size="133">
    <input type="submit" class="btn btn-info" value="Next Step">


  </div>
</form>
</div>
