<div class="container">
    <div class="row">
        <div *ngIf="!finishedLoading" class="col text-center">
            <img src="../../assets/BirdFly15.gif">
        </div>
        <div *ngIf="finishedLoading" class="col text-center">
            <img src="../../assets/SmokingTeepee.gif" width="200px">
            <h1>Nomad</h1>
            <p>Always be in contact with your tribe.</p>
            <hr>
            <p>Is this your tribe?</p>
            <h2>{{uniqueName}} @ {{venueName}}</h2>
            <span>If so,</span>
            <p>{{tribeSecretQuestion}}</p>
            <input type="text" placeholder="enter the password" [(ngModel)]="userAnswer">
            <span>and</span>
            <button class="start-chatting" (click)="verifyAnswer()" >start chatting</button>
            <span>or</span>
            <button class="create-tribe" routerLink="/start-tribe">create a tribe</button>
        </div>
    </div>
</div>
