<div class="container">
    <div class="row">
        <div *ngIf="!finishedLoading" class="col text-center">
            <img src="../../assets/BirdFly15.gif">
        </div>
        <div *ngIf="finishedLoading && !gotLocation" class="col text-center">
            <div class="alert alert-danger no-location-alert" role="alert">We need your location!</div>
        </div>    
        <div *ngIf="finishedLoading && gotLocation" class="col text-center">
            <img src="../../assets/SmokingTeepee.gif" width="200px">
            <h1>Nomad</h1>
            <p>Always be in contact with your tribe.</p>
            <hr>
            <p>Is this your tribe?</p>
            <h2>{{uniqueName}} @ {{venueName}}</h2>
            <p>If so, prove you're here...</p>
            <p>{{tribeSecretQuestion}}</p>
            <input type="text" placeholder="Enter the answer" (keyup.enter)="verifyAnswer()" [(ngModel)]="userAnswer" autofocus>
            <span>and</span>
            <button class="start-chatting" (click)="verifyAnswer()" >start chatting</button>
            <span>or</span>
            <button class="create-tribe" routerLink="/start-tribe">create a tribe</button>
            <div *ngIf="wrongAnswer" class="alert alert-danger wrong-answer-alert" role="alert">Wrong answer!</div>
        </div>
    </div>
</div>
